<?php

<<<HEADER
This file is part of the "sort-library" package.

(c) bovsunovsky <bovsunovsky@rambler.ru>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
HEADER;

$finder = \PhpCsFixer\Finder::create()
    ->in([
        'src',
        'tests',
    ])
;

return \PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__ . '/.php_cs.cache')
    ->setFinder($finder)
    ->setRules([
        '@PSR2' => true,
        'list_syntax' => ['syntax' => 'short']
    ])
;
